.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  padding: 0 0 1rem;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-rows: 50px 180px 60px;
  width: 204px;
  padding: 0.5rem;
  border: 1px solid #424242;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px #00000099;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 425px) {
  .card {
    justify-content: flex-start;
    width: 170px;
  }
}
