.row {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
  font-size: 1rem;
}

.title {
  font-weight: 600;
}

@media screen and (max-width: 425px) {
  .row {
    padding: 3px 6px 3px 0;
  }
}
